<nav class="container navbar navbar-expand-md navbar-light justify-content-between" style="background-color: #3778c2; height: 15vh">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
    </ul>
  </div>
  <a class="navbar-brand text-light" href="#">Categories</a>
  <%= button_to "Log out", destroy_user_session_path, method: :delete %>
  <i class="fa fa-search text-light" aria-hidden="true"></i>
</nav>
