<nav class="container navbar navbar-expand-md navbar-light justify-content-between" style="background-color: #3778c2; height: 15vh">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
    <span><%= left%></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
    </ul>
  </div>
  <a class="navbar-brand text-light fs-3 fw-bold" href="#"><%= header%></a>
  <div>
    <%= right%>
  </div>
</nav>
