<div class="container d-flex flex-column justify-content-between align-items-center height">
    <h2 class="h1 margin-top">Mobile Banking</h2>
    <div class="d-flex flex-column w-100">
        <%= link_to "Log in", new_user_session_path, class: 'btn btn-primary p-3 mb-2' %>
        <%= link_to "Sign up", new_user_registration_path, class: 'btn p-3' %>
    </div>
</div>
