<div class="container mt-5">
    <ul>
        <% @categories.each do |category|%>
            <li>
                 <%= render partial: 'shared/category_card', locals: {category:} %>
            </li>
        <%end%>
    </ul>
    <%= content_tag :div, class: 'text-center' do%>
        <%= link_to 'New Category', new_category_path, class: 'btn btn-secondary' %>
    <%end%>
</div>