<%= render partial: 'shared/nav'%>
<div class="container mt-3">
    <ul>
        <% @categories.each do |category|%>
            <li>
                 <%= render partial: 'shared/category_card', locals: {category:} %>
            </li>
        <%end%>
    </ul>
    <%= content_tag :div, class: 'text-center cat-btn-cont' do%>
        <div class="cat-btn"><%= link_to 'New Category', new_category_path, class: 'btn text-light' %></div>
    <%end%>
</div>